node_modules/

/server/config.*
!/server/config.example.js
/server/public/
/server/certs/
/server/mediasoup_valgrind_*

/.vscode/
*.code-workspace

.node-version
.tool-versions
yarn.lock

/scripts/*
!/scripts/producer.py